@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using Onatrix.ViewModels
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ContactCallbackSection)Model.Content;
    var settings = Model.Settings as ContentModels.ContactCallbackSettings;

    var options = settings.CallbackRequestOptions;
    var formVM = new CallbackFormViewModel {
        Options = settings?.CallbackRequestOptions ?? []
    };

    ViewBag.FormLayout = "layout-2col";
}

<section class="relative overflow-hidden">
    <div class="absolute inset-0 -z-10 h-[40rem]">
		@if (content.MapBgImage != null)
		{
			<img src="@content.MapBgImage.Url()" class="w-full h-full object-cover" alt="map" />
		}
	</div>
    <div class="max-w-[140rem] mx-auto px-4 flex gap-10 pt-60 mt-40 mb-1">

        <div class="lg:w-7/12 mx-auto bg-neutral shadow-md -mt-[11rem] z-[99] p-8 lg:p-16">

            <div class="flex flex-col text-center">
                
                <div>
                    <p class="text-secondary font-bold uppercase">@content.ContactCallbackFormLabel</p>
                </div>

                <div class="mb-1">
                    <p class="text-primary text-[2.5rem] font-bold">@content.ContactCallbackFormTitle</p>
                </div>
                
                <div>
                    <p class="text-sm italic">@content.ContactCallbackFormText</p>
                </div>
              
            </div>
    
            <partial name="Partials/Forms/_CallbackForm" model="formVM" />

            @if (TempData["FormSuccess"] != null) {
                <div class="bg-green-50 text-green-700 p-4 mx-[2rem] mb-4 rounded-md">
                    @TempData["FormSuccess"]
                </div>
            }
            @if (TempData["FormError"] != null) {
                <div class="bg-red-50 text-red-700 p-4 mx-[2rem] mb-4 rounded-md">
                    @TempData["FormError"]
                </div>
            }

        </div>

    </div>
</section>