@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.InfoSection)Model.Content;
}

<section id="info-section" class="pt-16 pb-32 bg-[#F7F7F7]">
	<div class="container mx-auto px-4 grid grid-cols-2 gap-16">
        <div class="relative img-wrapper">
            @if (content.InfoImageLayer1 != null)
            {
                <img src="@content.InfoImageLayer1.Url()" class="img-layer-1" />
            }

            @if (content.InfoImageLayer2 != null)
            {
                <img src="@content.InfoImageLayer2.Url()" class="img-layer-2" />
            }

            @if (content.InfoImageLayer3 != null)
            {
                <img src="@content.InfoImageLayer3.Url()" class="img-layer-3" />
            }
        </div>
        <div class="text-[#4F5955]">
            <div>
                <h1 class="text-[2.5rem] mb-8 font-bold leading-none">@content.InfoTitle</h1>
            </div>
            <div>
                <p class="font-semibold"><i>gps</i> @content.InfoLocationLabel</p>
                <p class="mb-8">@content.InfoLocationText</p>
            </div>
            <div>
                <p class="font-semibold"><i>phone</i> @content.InfoPhoneLabel</p>
                <p class="mb-8">@content.InfoPhoneNumber</p>
            </div>
            <div>
                <p class="font-semibold"><i>letter</i> @content.InfoEmailLabel</p>
                <p class="mb-8">@content.InfoEmailAddress</p>
            </div>
        </div>
	</div>
</section>